{% extends 'base.html' %}

{% block morehead %}
  <title>Financial Coaching</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block morejs %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Financial Coaching
    </a>
    <button class="btn btn-outline-success ml-auto" type="button">Schedule Now</button>
  </nav>
  {% comment %} <div class="container-fluid">
    <img src="{% static 'images/bookkeeping-1920.jpg' %}" />
  </div> {% endcomment %}
  <!-- First Parallax Section -->
  <div class="jumbotron parallax parallax-section-1">
    <div class="row justify-content-center">
      <div class="col">
        <h1 class="display-3">Here is a heading 1</h1>
        <p class="lead">Here is a short description 1</p>
        <div class="row justify-content-center">
          <a class="btn btn-info btn-lg btn-md" href="#" role="button">Here is a button 1</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Parallax Section -->
  <div class="jumbotron parallax parallax-section-2">
    <h1 class="display-3">Here is a heading 2</h1>
    <p class="lead">Here is a short description 2</p>
    <div class="row justify-content-center">
      <a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
    </div>
  </div>

  <!-- Third Parallax Section -->
  <div class="jumbotron parallax parallax-section-3">
    <h1 class="display-3">Here is a heading 3</h1>
    <p class="lead">Here is a short description 2</p>
    <div class="row justify-content-center">
      <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
    </div>
  </div>
{% endblock %}
